@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="bgImage">

<div class="text-center">
    <!--img src="images/Excellent.png" style="display: block; margin-left: auto; margin-right: auto"/-->
    <h1>
        <form method="post">
            <input class="styled" type="submit" value="ПРОДОЛЖИТЬ"/>
        </form>
    </h1>

</div>
</body>
