@page
@using nis_front_razer.Models
@model nis_front_razer.Pages.Test

@{
    //ViewData["Title"] = "Test";
}

<div>
    <form method="post">
        <ul>
            @for (int i = 0; i < Model.TestModel.testTasks.Count; i++)
            {
                <li>
                    <p>№@(i + 1). @Model.TestModel.testTasks[i]</p>
                    <input type="text" asp-for="@Model.Answers[i]"/><br/><br/><br/>
                </li>
            }
        </ul>
        <input type="submit" value="Отправить">
    </form>

</div>