anyio==3.5.0
appdirs==1.4.4
asgiref==3.5.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
fastapi==0.74.1
GrabzIt==3.5.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.2
pydantic==1.9.0
pyee==8.2.2
pyppeteer==1.0.2
requests==2.27.1
sdamgia-api==0.1.7
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.17.1
tqdm==4.63.0
typing_extensions==4.1.1
urllib3==1.26.8
uvicorn==0.17.5
websockets==10.2
zipp==3.7.0
